@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
/*=================================================
||				1. Navbar
==================================================*/
header{
	background: rgba(223, 1, 8, 255) !important;

}
.NavigationBar{
    background: rgba(223, 1, 8, 255) !important;
	margin-left: 0;
	margin-right: 0;
}
.btn-modal-Lojas {
    color:red !important;
	background-color: white!important;
	border-radius: 5px;
	border: 0;
	padding:8px;
	text-decoration: none;
}
.isso{
	background: rgba(223, 1, 8, 255) !important;
}

/*=================================================
||				7. Portfolio
==================================================*/
.containerProduct{
    margin: 20px;
}
.portfolio{
    margin: 20px !important; 
}
.portfolio-img{
	position: relative;
	overflow: hidden;
	text-align: center;
}
.portfolio-img .port-item{
	width: 100%;
	transition: all .6s ease-in-out;
}
.portfolio-img:hover .portfolio-img-hover{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all .6s ease-in-out;
	background: rgba(0, 0, 0, 0.5);
}

.plus{
	display: none;
}
.portfolio-img:hover .plus{
	display: inline-block;
	padding-top: 25%;
}
.portfolio-img:hover .port-item{
	transform: scale(1.1);
}
.portfolio-item-details{
    text-align: left;
	margin: 20px 0px 50px ; 
}
.portfolio-item-name{
	display: inline-block;
	font-size: 15px;
}
.portfolio-item-name{
    color: pink;
}
.port-heart, .portfolio-item-name small{
	font-size: 13px;
	color: #969595;
}
.port-heart{
	float: right;
	display: inline-block;
	margin-top: 10px;
}
.btn-modal-port{
    border: 0;
}

@media (min-width: 1200px){
    .modal-xl {
        max-width: 1600px ;
    }
}

/*=================================================
||				3. Card
==================================================*/
.card{
	margin: 5px;
}