@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
	
}
body {
	background-image: url('/assets/backComp/Background.png');
	width: 100%;
}
.w-100{
	width: 100%;
}

/*=================================================
||				1. Navbar
==================================================*/
header{
	background: rgba(223, 1, 8, 255) !important;
}
.NavigationBar{
    background: rgba(223, 1, 8, 255) !important;
	margin-left: 0;
	margin-right: 0;
}
.btn-modal-Lojas {
    color:red !important;
	background-color: white!important;
	border-radius: 5px;
	border: 0;
	padding:8px;
	text-decoration: none;
}
/*=================================================
||				2. Apresentação
==================================================*/
.text{
	color:white;
	align-content: center;
	font-size:
}
.text h1 {
	text-align:center;
}
.image{
	width: 100%;
}
.image img{
	width: 100%;
}
.box{
	display: flex;
	flex-flow: wrap;
}
.lojas{
	color:white;
}
/*=================================================
||				3. Card
==================================================*/

.card{
	margin: 5px;
}
/*=================================================
||				4. Carousel
==================================================*/
.carousel-item img{
	height: 600px !important;
}